@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PMaster Application</h1>
    <p class="lead">PMaster is a Scanning app</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Geting Student List", "DisplayStudent", "student")</h2>
        
        <p>
           Here is all the Students List.
        </p>
       @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Geting courses List", "DisplayCourse", "course")</h2>
        <p>Here is all the Students List.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>