
@{
    ViewBag.Title = "DisplayStudent";
}

<h2>DisplayStudent</h2>

<meta name="viewport" content="width=device-width"/>
<title>DisplayStudent</title>
<body>
    <table cellpadding="2" cellspacing="2" border="1">

        <tr>
            <th>Student Identifier</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Editing or Delete</th>
          
        </tr>
       @foreach (var student in ViewBag.listStudents)
       {

        <tr>
            <td>@student.PcnNumber</td>
            <td>@student.LastName</td>
            <td>@student.FirstName</td>
           
            <td>Delete | Edit</td>
        </tr>
       }
        

    </table>
</body>